@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*, *::before, *::after {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    background-color: white;
    color: #9faab7;
}

.welcome-display {
    width:100%;
    height: 350px;
    background-color:#279AF1;
    display:flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.welcome-title {
    color:white;
    font-family: 'Montserrat',sans-serif;
    font-weight: thin;
    font-size:50px;
    text-align:center;
}

.display-result {
    font-size: 50px;
    text-align: center;
    color:white;
    font-family: 'Montserrat',
    sans-serif;

}

.visibility-block {
    display: none
}

.start-quiz-button{
    height: 60px!important;
    width:250px;
    margin:25px auto !important;
    font-size:25px;
    background-color:#FE4A49;
    color:white;
    border:0px solid;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
}


body label {
    display: block;
    line-height: 40px;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top:25px;
}

.question {
    padding:60px 50px;
    margin-bottom: 5px;
    /* border-bottom:.1px solid black; */
    background-color: white;;
    text-align: center;
}

.quiz-question-asked {
    font-size: 50px;
}

.submit-button {
    height: 60px !important;
    width:250px;
    margin:25px auto !important;
    font-size:25px;
    background-color:#FE4A49;
    color:white;
    border:0px solid;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    display: block;

}



/* */

.quiz-form {
    display:none
}
.welcome-display-toggled {
    height: 100vh;
}

/* 
    #######################################################################
    RADIO DESIGN 
    #######################################################################
*/

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}



/* Adding css for mobile*/

@media screen and (max-width: 600px) {
    .quiz-question-asked {
        font-size: 22px;
    }
}